@page "/category/{category}"
@inject NavigationManager NavigationManager
@inject ProductsService productsService


<link href="css/site.css" rel="stylesheet" />
<div class="top-menu">
    <div class="logo">
        <a href="/" class="Logo">DeMarket</a>
    </div>
    <div class="search">
        <input type="text" placeholder="Szukaj...">
        <button type="submit">Znajdz</button>
    </div>
    <div class="user-actions">
        <a href="/Login" class="login">Zaloguj się</a>
        <a href="#" class="support">Komunikacja z obsługą</a>
    </div>
</div>

<div class="container">
    <div class="sidebar">
        <ul class="menu">
            <li class="menu-item"><a href="/category/Computers">Komputery</a></li>
            <li class="menu-item"><a href="/category/Laptops">Laptopy</a></li>
            <li class="menu-item"><a href="/category/Keyboards">Klawiatury</a></li>
            <li class="menu-item"><a href="/category/Headphones">Słuchawki</a></li>
            <li class="menu-item"><a href="/category/Printers">Drukarki</a></li>
        </ul>
    </div>
    <div class="content">
        @if (pObj is null)
        {
            <p><em>Loading....</em></p>
        }
        else
        {
            @foreach (var product in pObj)
            {
                <div class="product">
                    <div class="product-image">
                        <img src="@product.ImageUrl" alt="Zdjęcie towara">
                    </div>
                    <div class="product-details">
                        <h3 class="product-title">
                            @product.Name
                            <div class="product-rating">
                                <img src="/icons/opinia.svg">
                                <span class="product-rating-value">@product.Rating</span>
                            </div>
                        </h3>
                        <p class="product-price">@product.Price.ToString() zł</p>
                        <p class="product-description">@product.Description</p>
                        <p class="product-category">Kategoria: @product.Categories</p>
                        <a href="@product.Url" class="button">Kupić</a>
                    </div>
                </div>
            }
        }
    </div>
</div>


@code {
    [Parameter]
    public string category { get; set; }

    List<Shared.Products> pObj;

    protected override async Task OnParametersSetAsync()
    {
        switch (category)
        {
            case "Computers":
                category = "komputery";
                break;
            case "Laptops":
                category = "laptopy";
                break;
            case "Keyboards":
                category = "klawiatury";
                break;
            case "Headphones":
                category = "sluchawki";
                break;
            case "Printers":
                category = "drukarki";
                break;
        }
        pObj = await Task.Run(() => productsService.GetProductsByCategory(category));

    }
}
